In [1]:
import pandas as pd
from datetime import datetime

In [3]:
# Creating a dataframe by inserting each value.  

complete_cust = pd.DataFrame({'H':['D', 'D','D','D','D'],
        'Customer_Name':['Alex', 'John', 'Mathew', 'Matt', 'Jacob'],
        'Customer_Id': ['123457', '123458', '123459', '12345', '1256'],
        'Open_Date': [20121012,20121012,20121012,20121012,20121012],
        'Last_Consulted_Date': ['20121013', '20121013', '20121013', '20121013', '20121013'],
        'Vaccination_Id': ['MVD', 'MVD', 'MVD', 'MVD', 'MVD'],
        'Dr_Name':['Paul', 'Paul', 'Paul', 'Paul', 'Paul'],
        'State':['SA', 'TN', 'WAS', 'BOS', 'VIC'],
        'Country':['USA', 'IND', 'PHIL', 'NYC', 'AU'],
        'DOB': [6031987, 6031987, 6031987, 6031987, 6031987],
        'Is_Active': ['A','A', 'A','A','A']})

In [4]:
# Considering yyyy-mm-dd format
complete_cust["Open_Date"]=pd.to_datetime(complete_cust['Open_Date'], format = '%Y%m%d')
complete_cust["Last_Consulted_Date"]=pd.to_datetime(complete_cust['Last_Consulted_Date'], format = '%Y%m%d')

# Considering mm-dd-yyyy format
complete_cust["DOB"]=pd.to_datetime(complete_cust['DOB'], format = '%d%m%Y')

In [ ]:
# the whole data can also be stored in txt/csv format and can be converted into a dataframe as well.

## complete_cust=pd.read_csv('sample_data.txt', sep='|')
## complete_cust

In [5]:
complete_cust

,H,Customer_Name,Customer_Id,Open_Date,Last_Consulted_Date,Vaccination_Id,Dr_Name,State,Country,DOB,Is_Active
0,D,Alex,123457,2012-10-12,2012-10-13,MVD,Paul,SA,USA,1987-03-06,A
1,D,John,123458,2012-10-12,2012-10-13,MVD,Paul,TN,IND,1987-03-06,A
2,D,Mathew,123459,2012-10-12,2012-10-13,MVD,Paul,WAS,PHIL,1987-03-06,A
3,D,Matt,12345,2012-10-12,2012-10-13,MVD,Paul,BOS,NYC,1987-03-06,A
4,D,Jacob,1256,2012-10-12,2012-10-13,MVD,Paul,VIC,AU,1987-03-06,A

In [6]:
# Datatype

complete_cust.dtypes

H                              object
Customer_Name                  object
Customer_Id                    object
Open_Date              datetime64[ns]
Last_Consulted_Date    datetime64[ns]
Vaccination_Id                 object
Dr_Name                        object
State                          object
Country                        object
DOB                    datetime64[ns]
Is_Active                      object
dtype: object

In [7]:
# Storing all the countries in a list
countries=list(complete_cust.Country.unique())

In [8]:
countries

['USA', 'IND', 'PHIL', 'NYC', 'AU']

In [9]:
# Creating csv Table_(countryname) for each country
for i in countries: 
    temp = complete_cust[complete_cust['Country']==i]
    df=pd.DataFrame(temp)
    df = df.rename(columns={'Customer_Name':'Name',
                            'Customer_Id':'Cust_I', 
                            'Open_Date':'Open_Dt',
                            'Last_Consulted_Date':'Consul_Dt',
                            "Vaccination_Id":'VAC_ID',
                            'Dr_Name':'DR_Name',
                            'State':'State',
                            'Country':'County',
                            'DOB':'DOB',
                            'Is_Active':'FLAG'})
    df.to_csv("Table_{}".format(i)+".csv", index=False)

In [10]:
ind=pd.read_csv('Table_IND.csv')
ind

,H,Name,Cust_I,Open_Dt,Consul_Dt,VAC_ID,DR_Name,State,County,DOB,FLAG
0,D,John,123458,2012-10-12,2012-10-13,MVD,Paul,TN,IND,1987-03-06,A

In [12]:
usa=pd.read_csv('Table_USA.csv')
usa

,H,Name,Cust_I,Open_Dt,Consul_Dt,VAC_ID,DR_Name,State,County,DOB,FLAG
0,D,Alex,123457,2012-10-12,2012-10-13,MVD,Paul,SA,USA,1987-03-06,A